#!/bin/bash

echo "		...configuring ${BLF}HomeBrew${CLEAR}"

#############################################

# Author: Jason Kralik
# Purpose: 
#  
# FileName: homebrew.config
# Created: 02/21/19 
# Modifed: 

#############################################

if [ -f $(brew --prefix)/etc/bash_completion ]; then
	source $(brew --prefix)/etc/bash_completion
fi

# init pyenv 
if brew ls --versions pyenv > /dev/null; then
  # pyenv is installed in brew
	echo "			...using ${BLF}PyEnv${CLEAR}"
	eval "$(pyenv init -)"
else
  echo "${BLF}PyEnv${CLEAR} is ${BLF}NOT${CLEAR} installed."
	read -p "Would you like to install it${BLF}(y)${CLEAR}? " input
	if [ "$input" == "y" ]; then
		brew install pyenv
	fi
fi
