#!/bin/bash

echo "		...configuring ${BLF}HomeBrew${CLEAR}"

#############################################

# Author: Jason Kralik
# Purpose: 
#  
# FileName: homebrew.config
# Created: 02/21/19 
# Modifed: 

#############################################

if [ -f $(brew --prefix)/etc/bash_completion ]; then
	source $(brew --prefix)/etc/bash_completion
fi

eval "$(pyenv init -)"

